asgiref
asn1crypto
certifi
cffi
chardet
coreapi
coreschema
cryptography
defusedxml
diff-match-patch
Django
django-cors-headers
django-crispy-forms
django-filter
django-formtools
django-import-export
djangorestframework
djangorestframework-jwt
djangorestframework-recursive
drf-extensions
et-xmlfile
future
httplib2
idna
itypes
jdcal
Jinja2
MarkupSafe
oauthlib
odfpy
openpyxl
Pillow
pycparser
PyJWT
PyMySQL
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
sqlparse
tablib
unicodecsv
uritemplate
urllib3
xlrd
xlwt